@model Net.UI.Models.DTO.EditDto
@{

	

}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Edituser.css">
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;700;900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

</head>
<body>








    <section class="Account">



        <div class="container">

            <div class="Profil">

                <div class="ppp">

                    <div class="imge">


                        <img src="~/uploads/@Model.ProfilImage" class="myimage" alt="Beskrivning av bilden">
                        <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="AppUser">

                            <input asp-for="ProfilImage" type="file" name="file" hidden id="fileUploader" />
                            <label for="fileUploader" class="btn btn-circle btn-circle-sm"><i class="fa-regular fa-refresh"></i></label>
                            <button type="submit">OK</button>
                        </form>

                    </div>






                    <h1>@Model.Name</h1>



                    <p>@Model.Email</p>


                    <div class="button-profil">

                        <a class="bprofil" href="#">AccountDetail</a> <a class="bprofiltwo" href="#">Signout</a>

                    </div>


                </div>





            </div>


            <div class="Details">





                <p class="pinfo">Basic info</p>

                <div class="searchbox">








@if (Model is not null)

{

        <form class="searchingbox" method="post" asp-controller="AppUser" asp-action="EditUser">


            <div class="namebox one">

                <div class="textin">

                    <p>First name</p>
                                    <input type="text" class="inin" asp-for="Name" value="@Model.Name" readonly>



                </div>


                <div class="textin">

                    <p>Lastname</p>
                    <input type="text" class="inin" asp-for="LastName" value="@Model.LastName" readonly>

                </div>



            </div>


            <div class="namebox two">

                <div class="textin">

                    <p>Email Adress</p>
                    <input type="text" class="inin" asp-for="Email" value="@Model.Email" readonly>



                </div>


               


            </div>

            <div class="textinBio bio">

                <p class="bio">Bio</p>
                <input type="text" class="inin" asp-for="Bio" value="@Model.Bio">

            </div>











                            <div class="button-container"><button type="button" class="button two">Cancel</button>  <button type="submit" class="button two">Save</button></div>






        </form>


        <div class="border-line"></div>

                        <form class="searchingbox2" method="post" asp-controller="AppUser" asp-action="EditAdress">














            <div class="textinBio line1">

                <p>Adress line 1</p>
                <input type="text" class="inin" asp-for="AdressOne" value="@Model.AdressOne">

            </div>

            <div class="textinBio line2">

                <p>Adress line 2</p>
                <input type="text" class="inin" asp-for="AdressTwo" value="@Model.AdressTwo">

            </div>


            <div class="namebox three">

                <div class="textin">

                    <p>Postal code</p>
                    <input type="text" class="inin" asp-for="PostalCode" value="@Model.PostalCode">



                </div>


                <div class="textin">

                    <p>City</p>
                    <input type="text" class="inin" asp-for="City" value="@Model.City">

                </div>



            </div>







                            <div class="button-container"><button type="button" class="button two">Cancel</button>  <button type="submit" class="button two">Save</button></div>






        </form>




}



                </div>





            </div>







        </div>






    </section>











</body>
</html>




